// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#error_message{
  background-color: #e3342f;
  height: 100%;
  width: 100%;
  display: block;
  margin: 3px 0 0 0;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}
.notification{
  margin-top: -4px;
}

.picture {
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#car-table{
  table-layout: fixed;
  width: 100%;
}
#user-table{
  table-layout: fixed;
  width: 100%;
}